.container {
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 6px;
  background-color: #ffffff;
}

.flex {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.glance {
  display: flex;
}

.glance div {
  width: 25%;
  text-align: center;
  font-weight: bold;
  font-size: 14;
}

.glanceTitle div {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 16px;
}

.graphGroup {
  padding: 0 16px 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}

.graphTabs {
  padding: 2px;
  width: 50%;
  max-width: 360px;
  display: flex;
  justify-content: space-between;
}

.graphTabs button {
  border: 1px solid transparent;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms, font-size .1s ease-out;
}

.graphTabs button:hover {
  font-size: 17px;
  text-decoration-color: #ff79bd;
}

.graphDate {
  position: relative;
}

.dateBtn {
  border: 1px solid transparent;
}

.dateBtn:focus {
  outline: 0px;
}

.dateList {
  background-color: #ffffff;
  margin-top: 8px;
  width: 100%;
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
}

.dateList button {
  border: 1px solid transparent;
  padding: 8px 0;
}

.graphBody {
  max-width: 100%;
  padding: 16px;
  margin: 0 auto;
}

.camp {
  height: 100%;
}

.flexCamp {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topCamp {
  min-height: 80px;
}

.topCamp div {
  height: 100%;
  padding-top: 16px;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  font-size: 18px;
  font-weight: bold;
}

.botCamp {
  height: 100%;
  padding: 0 16px;
}

.botCamp div {
  border-bottom: 1px solid rgba(0,0,0,0.4);
  height: 20%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

.botCamp div:last-child {
  border-bottom: none;
}

.botCamp span {
  margin-right: 16px;
  font-weight: normal;
}

