.main {
  height: 100%;
}

.container {
  border: 1px solid blue;
  height: 100%;
  padding: 16px;
  margin-top: 96px;
}

.mainFlex {
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topRow {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

.topColFlex {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.card {
  margin-bottom: 16px;
}
