.nav {
  height: 100%;
  padding: 24px 8px;
}

.flex {
  height: 100%;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item {
  border: 1px solid purple;
  padding: 16px;
  margin-bottom: 24px;
}

@media (max-width: 700px) {
  .nav {
    width: 100%;
    padding: 16px;
  }

  .flex {
    flex-direction: row;
    justify-content: flex-start;
  }

  .item {
    padding: 4px 0;
    margin: 0;
    margin-right: 16px;
    font-size: 14px;
  }
}