.nav {
  height: 100%;
  padding: 24px 8px;
}

.flex {
  height: 100%;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item {
  border: 1px solid purple;
  padding: 16px;
  margin-bottom: 24px;
}