.wrapper {
  border: 1px solid #000000;
  width: 100vw;
  height: 100vh;
  min-width: 300px;
}

.flex {
  border: 1px solid green;
  height: 100%;
  display: flex;
}

.menu {
  border: 1px solid red;
  flex-basis: 15%;
  max-width: 200px;
}

.dashboard {
  border: 1px solid blue;
  flex-basis: 0;
  flex-grow: 999;
}